<!doctype html>

<html>

<head>
    <title>Index Page</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <h1>The index.html page</h1>
    <!-- jinja magic https://jinja.palletsprojects.com/en/3.0.x/-->
    <!-- {{data_set}}
    {% for tuple in data_set %}
    <p>{{ tuple }}</p>
    {% endfor %} -->
    <p>{{ids}}</p>
    <p>{{figuresJSON}}</p>
    <div id="{{ids[0]}}"></div>
    <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
    <script type="text/javascript">
        var figures = {{ figuresJSON | safe}};
        var ids = {{ ids | safe}};
        for (var i in figures) {
            Plotly.plot(ids[0], figures[i].data, figures[i].layout || {});
        }
    </script>
    <div id="chart" class="chart"></div>
    <p>We don't see anything
    </p>
    <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
    <script type="text/javascript">
        var graphs = {{ graphJSON | safe}};
        Plotly.plot('chart', graphs, {});
    </script>
</body>

</html>